body {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;

}

.contenedor-post {
    height: 500px;
    width: 400px;
    background-color: rgb(255, 255, 255);

}

.post-header {
    height: 10%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
}
.izquierda {
    display: flex;
    font-size: 25px;
    padding: 10px;
}

.texto1-header {
    font-size: 12px;
    margin-top: -10px;
}
.derecha {
    font-size: 25px;
    padding: 10px;
    margin-right: -6px;
}

.imagen-post {
    height: 60%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
}

.imagen-post img {
    height: 100%;
    width: 100%;
}

.footer-post {
    display: flex;
    flex-direction: column;
    font-size: 11px;
}
.iconos-footer {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 10px;
    margin-left: 2px;
    margin-right: 2px;
}
 
.texto-likes {
    padding: 16px;
    margin-top: -10px;
    
}
.texto-post {
    text-align: justify;
    padding: 16px;
    margin-top: -20px;    
}